<!DOCTYPE html>
<html>
<head>
    <title>College Name</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            margin: 0;
        }

        nav {
            background-color: #444;
            text-align: center;
            padding: 10px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            margin: 10px;
        }

        section {
            padding: 20px;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>PIONEER KUMARASWAMY COLLEGE </h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Programs</a>
        <a href="#">Contact</a>
    </nav>
    <section>
        <h2>PKC College</h2>
        <p>WELCOME TO DEPARTMENT OF COMPUTER SCIENCE</p>
    </section>
    <footer>
        &copy;PAVITHRA S R
    </footer>
</body>
</html>